body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: #000;
    background-color: #fff;
}
header {
    background-color: #F2F2F2;
}
ul{
    padding: 0;
    list-style-type: none;
}
li {
    margin-top: 10px;
}
.content {
    background-color: #fff;
    margin-top: 75px;
}
button {
    padding: 12px;
    border-radius: 10px;
    border: solid 1px #20a8b4;
    background-color: #20a8b4;
    color: #fff;
    font-size: 1em;
    width: 100%;
}
button:hover {
    background-color: #ff5c05;
}
a:link {
    text-decoration: none;
    color: #000;
}
a:visited {
    text-decoration: none;
    color: #000;
}
a:hover {
    text-decoration: none;
    color: #ff5c05;
}
a:active {
    text-decoration: none;
    color: #000;
}
.learn-to {
    color: #20a8b4;
}
.orange-code {
    color: #ff5c05;
}
.part-one {
    color: #000;
}
.part-two {
   color: #ff5c05; 
}
section {
    padding: 5px;
    margin-left: 5px;
}
.hide-mobile {
    display: none;
}

@media screen and (min-width: 768px) {
   body {
    font-size: 140%;
   } 
   section {
    padding-left: 2%;
    padding-right: 2%;
   }
   button {
    width: auto;
   }
   .nav-list li {
    display: inline;
    padding: 2px
   }
   .side-by-side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 75%;
   }
   .hide-mobile {
    display: inline;
    float: right;
    margin: 0;
    background-color: #fff;
    height: 500px;
    padding: 0;
   }
   }